azul = #22BCE0
gris_oscuro = #444
naranja = #DD4F24
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
* {
  box-sizing: border-box;
}
body {
  font-family: 'PT Sans', Arial, Verdana;
  background-color: #eee;
}
header 
	background azul
	overflow hidden
	padding 1em
	.logo
		float left 
		margin 2em 1em 2em 3em 
	.slogan
		font-size 30px
		font-family Arial
		border-left 1px solid red
		float left
		font-weight bold
		margin 0.8em 1em 1em 1em 
		padding-left 0.5em
main
	border 1px solid red 
	float left 

aside
	border 2px solid red
	padding 1em 
	float right

footer
	background black
	color rgba(255,255,255,0.5)
	text-align center
	padding 1em
	clear both
	bottom 0
	left 0 
	position absolute
	
	width 100%
	h3
		font-size 14px
		font-weight normal
		